<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kazadi Profile Card</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

<div class="card">
    <img src="/Kazadi/Assets/Kazadi Profile Pic.png" alt="profile image" class="avatar">

    <h2 class="name">Kazadi Mukendi</h2>
    <p class="role">Aspiring Web Developer</p>
    <p class="bio">
        Passionate about building modern websites using HTML and CSS. Focused on creating clean layouts, responsive designs, and user-friendly interfaces.
    </p>
    <button class="button">View Portfolio</button>
</div>

</body>
</html>